html {
    scroll-behavior: smooth;
}

.bg-forest {
    background-color: #1b4332 !important; /* Hijau Hutan Tua */
}

.text-forest {
    color: #1b4332;
}

.text-gold {
    color: #d4af37 !important; /* Warna Emas Murni */
}
